@font-face {
	font-family: 'Baron Neue';
	src: url('fonts/Baron Neue.eot');
	src: local('☺'), url('../fonts/Baron Neue.woff') format('woff'), url('../fonts/Baron Neue.ttf') format('truetype'), url('../fonts/Baron Neue.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}
body {
	width: 1920px;
	height: 8531px;
	letter-spacing: 2px;
	a {
		text-decoration: none;
		color: 000;
	}
	h1 {
		font-size: 42px;
		margin-top: 0;
		margin-bottom: 0;
	}
	p {
		font-size: 15px;
		line-height: 1.5;
	}
	.base {
		padding: 32px;
		background-color: #F3F3F3;
		font-family: arial;
		color: #6D6D6D;
	}
	.baron {
		font-family: Baron Neue;
	}
	.responsive {
		height: auto;
		width: 100%;
	}
	.shadow {
		background: linear-gradient(to left, #FFF, #F3F3F3);
	}
	.width-80 {
		width: 1270px;
		margin: 0 auto;
		padding-top: 133px;
		padding-bottom: 133px;
	}
	.width-80-smaller {
		width: 1270px;
		margin: 0 auto;
		padding-top: 49px;
		padding-bottom: 49px;
	}
	.width-60 {
		padding: 132px 443px 155px; 
	}
	.width-half {
		height: 800px;
		width: 925px;
	}
}

h1 {
	text-shadow: 15px 15px 30px #A9A9A9;
}
.text-shadow, .skills, .learn {
	text-shadow: 10px 10px 10px #A9A9A9;
}
h1, a, .about__text p.baron,.works, .development__menu, .skills, .mobile p.baron, .text-name, .quotes__text, .bottom {
	color: #1A2730;
}
.about .width-80, .works_pictures, .development, .mobile__width, .news__blocks, .quotes {
	display: flex;
}
.about__picture, .about__text, .development__picture, .development__menu, .quotes__text, .quotes__picture {
	flex: 1;
}

.top, .about, .works, .development, .skills, .mobile, .news, .quotes, .contact {
	margin-bottom: 32px;
}
.works, h1 {
	text-align: center;
}

.inline-block {
	display: inline-block;
}
.on-the-top {
	color: white;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
	display: flex;
	p {
		font-size: 55px;
		vertical-align: middle;
		margin: auto;
		position: relative;
		padding: 24px 31px 30px 26px;
		&:before, &:after {
			content: '';
			border: 2px solid white;
			position: absolute;
			top: -4px;
			left: -4px;
			bottom: 4px;
			right: 4px;
		}
		&:after {
			top: 4px;
			left: 4px;
			bottom: -4px;
			right: -4px;
		}
	}
	.another {
		padding: 201px 49px 177px 47px;
		line-height: 1.5;
	}
}
.development__picture, .quotes__picture {
	position: relative;
}


						/* TOP SECTION*/

.top {
	position: relative;
	.top__logo {
		position: absolute;
		top: 44px;
		right: 36px;
		z-index: 5;
	}
	.top__menu {
		position: absolute;
		top: 44px;
		left: 37px;
		z-index: 5;
	}
}



						/* ABOUT SECTION*/

.about__picture {
	margin-right: 23px;
	flex: 1;
}
.about__text {
	margin-left: 23px;
	h1 {
		margin-top: 57px;
		margin-bottom: 50px;
		text-align: left;
	}
	p {
		margin: 0;
		text-align: justify;
	}
	p.baron {
		margin-top: 49px;
	}
}

						/* WORKS SECTION */

.works_pictures {
	width: 1270px;
	justify-content: space-between;

	> .column {
		width: 407px;

		> img {
			display: block;
			margin-bottom: 24px;
		}
	}
}
.works__bookmarks {
	font-size: 14px;
	margin-top: 57px;
	margin-bottom: 57px;
	a {
		margin-right: 30px;
		&:hover {
			border-bottom: 2px solid #1A2632;
		}
	}
}


						/* DEVELOPMENT SECTION*/
.development__menu {
	background-color: #FFF;
	font-size: 0;
	.dev__menu__item {
		display: inline-block;
		width: 50%;
		font-size: 16px;
	}
}


						/* SKILLS SECTION*/
.skills {
	h1 {
		margin-bottom: 27px;
	}
	p {
		margin-top: 52px;
		margin-bottom: 34px;
	}
}
.skills__line {
	background-color: #F3F3F3;
	height: 34px;
	width: 100%;
	
}
.line__95, .line__85, .line__80 {
	background-color: black;
	float: left;
	color: white;
	height: 34px;
	line-height: 34px;
	text-align: right;
	padding-right: 15px;
}
.line__95 {
	width: 95%;
}
.line__85 {
	width: 85%;
}
.line__80 {
	width: 80%;
}

						/* MOBILE SECTION*/
.mobile__width {
	margin: auto;
	width: 1148px;
}
.mobile__picture {
	margin-top: 150px;
	margin-top: 150px;
}
.mobile__text {
	margin-top: 218px;
	width: 400px;
}
.table {
	display: table;
	width: 100%;
}
.cell-description, .cell-picture {
	display: table-cell;
	vertical-align: top;
}
.cell-picture {
	width: 0;
}
.cell-description {
	width: 100%;
	vertical-align: top;
	p {
		margin: 0;
	}
}
.first-part, .second-part {
	.cell-description {
		padding-left: 30px;
	}
}
.third-part, .forth-part {
	p {
		text-align: right;
	}
	.cell-description {
		padding-right: 30px;
	}
}

						/* NEWS SECTION*/
.news {
	h1 {
		margin-bottom: 79px;
	}
	.news__blocks {
		width: 1270px;
		justify-content: space-between;
	}
	.news__block {
		width: 407px;
	}
	.text-name {
		margin-top: 4px;
		margin-bottom: 0px;
	}
	.text-story {
		margin-top: 0;
		margin-bottom: 0;
	}
	.learn {
		margin-top: 38px;
	}
}


						/* QUOTES SECTION*/
.quotes {
	background-image: url(../images/quotes_bg.png);
}
.quotes__text p {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
}

						/* CONTACT SECTION*/
.contact {
	height: 1064px;
	h1 {
		margin-top: 0;
		margin-bottom: 132px;
	}
}
form {
	font-size: 0;
}
.input-background, [type="button"] {
	font-size: 14px;
	margin-bottom: 24px;
	background-color: #EFEFEF;
	border-style: none;
	color: #C0C0C0;
	padding-left: 34px;
}
[type="button"] {
	background-color: transparent;
	margin-top: 45px;
}
.input-name, .input-surname {
	width: 468px;
	height: 66px;
}
.input-surname {
	float: right;
}
.input-email {
	height: 66px;
}
.input-message {
	height: 365px;
}
.input-email, .input-message {
	width: 100%;
}

						/* BOTTOM SECTION*/
.bottom {
	height: 137px;
	.bottom__arrow {
		height: 39px;
		width: 44px;
		background-image: url(../images/arrow-up.jpg);
		float: right;
	}
	.social-net {
		margin-right: 18px;
	}
}






.row {
	font-size: 0;
}
.col {
	display: inline-block;
	font-size: 1rem;
}

.col.s1 {
	width: 8.3333%;
}
.col.s2 {
	width: 16.6666%;
}
.col.s3 {
	width: 25%;
}
.col.s4 {
	width: 33.3333%;
}
.col.s5 {
	width: 41.6666%;
}
.col.s6 {
	width: 50%;
}
.col.s7 {
	width: 58.3333%;
}
.col.s8 {
	width: 66.6666%;
}
.col.s9 {
	width: 75%;
}
.col.s10 {
	width: 83.3333%;
}
.col.s11 {
	width: 91.6666%;
}
.col.s12 {
	width: 100%;
}

@media screen and (min-width: 600px){
	.col.m1 {
		width: 8.3333%;
	}
	.col.m2 {
		width: 16.6666%;
	}
	.col.m3 {
		width: 25%;
	}
	.col.m4 {
		width: 33.3333%;
	}
	.col.m5 {
		width: 41.6666%;
	}
	.col.m6 {
		width: 50%;
	}
	.col.m7 {
		width: 58.3333%;
	}
	.col.m8 {
		width: 66.6666%;
	}
	.col.m9 {
		width: 75%;
	}
	.col.m10 {
		width: 83.3333%;
	}
	.col.m11 {
		width: 91.6666%;
	}
	.col.m12 {
		width: 100%;
	}
}
@media screen and (min-width: 960px){
	.col.l1 {
		width: 8.3333%;
	}
	.col.l2 {
		width: 16.6666%;
	}
	.col.l3 {
		width: 25%;
	}
	.col.l4 {
		width: 33.3333%;
	}
	.col.l5 {
		width: 41.6666%;
	}
	.col.l6 {
		width: 50%;
	}
	.col.l7 {
		width: 58.3333%;
	}
	.col.l8 {
		width: 66.6666%;
	}
	.col.l9 {
		width: 75%;
	}
	.col.l10 {
		width: 83.333%;
	}
	.col.l11 {
		width: 91.6666%;
	}
	.col.l12 {
		width: 100%;
	}
}
@media screen and (min-width: 1200px){
	.col.xl1 {
		width: 8.3333%;
	}
	.col.xl2 {
		width: 16.6666%;
	}
	.col.xl3 {
		width: 25%;
	}
	.col.xl4 {
		width: 33.3333%;
	}
	.col.xl5 {
		width: 41.6666%;
	}
	.col.xl6 {
		width: 50%;
	}
	.col.xl7 {
		width: 58.3333%;
	}
	.col.xl8 {
		width: 66.6666%;
	}
	.col.xl9 {
		width: 75%;
	}
	.col.xl10 {
		width: 83.333%;
	}
	.col.xl11 {
		width: 91.6666%;
	}
	.col.xl12 {
		width: 100%;
	}
}